@page "/mods"
@inject ReplayService replayService
@inherits ReactiveComponentBase


<PageTitle>Chat messages</PageTitle>

<h1>Chat messages</h1>

@if (Observed(() => replayService.ChatMessages) != null)
{

    @foreach (var chatMessage in replayService.ChatMessages)
    {
        <div class="chat-message">
            <span class="chat-message-time">@chatMessage.Timestamp</span>
            <span class="chat-message-player">@chatMessage.Sender</span>
            <span class="chat-message-message">@chatMessage.Message</span>
        </div>
    }
}

@code {

}
