@page "/scenario"
@inject ReplayService replayService
@inherits ReactiveComponentBase

<PageTitle>Scenario</PageTitle>

<MudContainer Fixed="true">
    <MudText Typo="Typo.h2">Scenario</MudText>
</MudContainer>

@* @if (Observed(() => replayService.Replay) != null)
{
    @if (replayService.Replay.Header.Scenario.Map.Name != null)
    {
        <dl>
            <dt> Map </dt>
            <dd>
                @replayService.Replay.Header.Scenario.Map.Name
                @if (replayService.Replay.Header.Scenario.Map.Version != null)
                {
                    <span> @replayService.Replay.Header.Scenario.Map.Version </span>
                }
            </dd>
        </dl>
    }

    @if (replayService.Replay.Header.Scenario.Map.Description != null)
    {
        <dl>
            <dt> Description </dt>
            <dd>
                @replayService.Replay.Header.Scenario.Map.Description
            </dd>
        </dl>
    }
} *@